# theDevMasters PreWork - Notebook 1
Welcome to theDevMasters! We're excited to teach you python, data science, and machine learning. Let's learn together!

## Using Jupyter Notebook
This file is called a Jupyter notebook. Jupyter notebook can be used for many things. It can run R or Julia code, and has a terminal (or command prompt) option as well. We'll be using it to run Python code. You can also use it to take notes using markdown. 

A Jupyter notebook is comprised of cells, which are boxes. You can click on a cell to edit it. To run the code in a cell you can press __SHIFT__ and __ENTER__ at the same time, or you can press the Play button above. 

By default a cell is set up for code. If a cell is in code mode you'll see __In [ ]:__ to the left of the code. When you run the cell the line number will have __[\*]__ while it is processing. When it is done processing a line number will appear, for example __In [2]:__ Run the cell below to see the line number:

In [2]:
print('Hello Data Scientist.')

Hello Data Scientist.

If you need to edit a code cell just click on the cell and make your changes. Then you can run the cell again for the changes to take effect. Change the above cell to say 'Hello Data Scientist' instead of 'Hello World'. You should see the line number of the cell change from 1 to 2.

## Using Markdown Cells
To change a cell to markdown choose 'Markdown' from the dropdown in the header of the Juypter notebook. Enter your notes (using markdown for extra capabilities) then run the cell to display. To edit a markdown cell double click then make your changes. Edit the cell below to see how markdown is formed.

# Make a header with a hash sign
## Make a subheading with 2 - 6 hash signs
### Make even smaller headers

Type as usual for regular text. 

*This text will be italic*
_This will also be italic_

**This text will be bold**
__This will also be bold__

_You **can** combine them_

Make an unordered list like this: 

* Item 1
* Item 2
  * Item 2a
  * Item 2b
  
Or an ordered list like this: 

1. Item 1
1. Item 2
1. Item 3
   1. Item 3a
   1. Item 3b
   
You can add links like this: 
[This link has more markdown tips!](https://guides.github.com/features/mastering-markdown/)

# More Jupyter Tips: 
* You can add more cells by pressing the __PLUS__ button above. 
* You can cut a cell by clicking on the __SCISSORS__ button above. 
* You can copy a cell by clicking on the __COPY__ button above. 
* You can paste a cut or copied cell by clicking on the __PASTE__ button above. 

If your notebook stops working you can restart the notebook by clicking on the __KERNAL__ button above then clicking __RESTART, RESTART AND CLEAR OUTPUT,__ or __RESTART AND RUN ALL__ options.

# Let's Start Coding!
## Comments
In Python you can make a comment using the # sign. Comments are ignored by the computer when the code is run. Comments are useful for making notes on what the code is doing and why.

In [3]:
#This is a comment
print('Hello Python Programmer!') # Comments can be on the same line as code

Hello Python Programmer!

Your turn - Write your own comments below:

In [3]:
# Kemal is coding today

## Literal Constants
Literal constants represent themselves, and connot be changed. For example, __2__ will always represent 2 and nothing else - it's value will always be __2__. Literal constants can be numbers or strings (text).

In [4]:
# This is a literal constant - it's value cannot change
2

2

In [7]:
# This is also a literal constant - it cannot change
'This sentence is a literal constant'

'This sentence is a literal constant'

### Exercise 1 :

Create your own literal constants below. Make at least 2 literal constants, one number and one string.

In [5]:
1996

1996

In [6]:
'The Applied Data Science Course from prof Acar is great'

'The Applied Data Science Course from prof Acar is great'

## Numbers
There are two types of numbers: __integers__ and __floats__. An integer is a number that does not use a decimal place. A float is a 'floating point' number, that is, it contains a decimal point.

In [ ]:
# This number is an integer
2

In [ ]:
# This number is a float
2.5

In [ ]:
# This is another float
0.8

### Exercise 2 :

You can convert between a float and an integer using a built-in Python function. 

To change a float to an integer use the syntax: __`int(3.8)`__

In [7]:
int(3.8)

3

To change an integer to a float use the syntax: __`float(4)`__

In [8]:
float(4)

4.0

Transform a float to an integer and converts an integer to a float below:

In [9]:
int(19.96)

19

In [10]:
float(5)

5.0

## Strings 
A string is a sequence of characters. There are three notations for strings: 
* __Single Quote__ notation: `'this is a string'`
* __Double Quote__ notation: `"this is a string"`
* __Triple Quotes__ notation: `'''this is also a string'''`

You can nest different types of quotes within strings, but you have to start and end a string with the same type of quote!

In [11]:
'''This is a multi-line string, 
which continues on as many lines as you need. 

You can even add other strings inside: 
"This is a double quote string"
'And this is a single quote string'.
'''

'This is a multi-line string, \nwhich continues on as many lines as you need. \n\nYou can even add other strings inside: \n"This is a double quote string"\n\'And this is a single quote string\'.\n'

Usually single or double quotes are used for shorter strings, while triple quotes are used for multi-line strings, but this is just a convention.

### Excerise 3 :

Create your own strings below - be sure to use each type of quote:

In [14]:
"This is great"

'This is great'

In [15]:
'This is even greater'

'This is even greater'

In [16]:
'''I'm sure that this "Data Science Course" is the greatest'''

'I\'m sure that this "Data Science Course" is the greatest'

### Basic methods for strings: 
There are several helpful, built-in methods for strings. For example:

In [18]:
my_str = 'My string'

In [19]:
my_str

'My string'

In [20]:
my_str = 'niagara'

In [21]:
my_str

'niagara'

You can make a string uppercase using the method upper like this: __`my_str.upper()`__

In [22]:
my_str.upper()

'NIAGARA'

You can make a string lowercase using the method lower like this: __`my_str.lower()`__

In [23]:
my_str.lower()

'niagara'

We can also use slicing methods to extract a single letter of a string. You can slice a string using the index of the letters. The first letter is index 0. For example, to get the first letter of our string we can do: 
__`my_str[0]`__

In [24]:
my_str[0]

'n'

We can also index from the end of the string by using a negative index. For example, to get the last letter of our string we can use: 
__`my_str[-1]`__

In [25]:
my_str[-1]

'a'

Slicing will also allow us to extract a subsequence from the string. The syntax is: 

__`my_str[i:j]`__ where i is the starting index and j is the ending index. In Python the lower bound is included, but the upper bound is not included. For example, if we wanted the first three letters of our string we could use the syntax: __`my_str[0:4]`__

In [28]:
my_str[0:4]

'niag'

Slicing can also use an extended syntax: 

__`my_str[i:j:k]`__ where i is the starting index, j is the ending index, and k is the stride or the step between indices. For example, if we wanted every other letter of the first 6 characters we could use: 

__`my_str[0:7:2]`__

In [29]:
my_str[0:7:2]

'naaa'

Slicing doesn't require a start or an end index. Leaving off the starting index is equivalent to specifing the first index, 0. Leaving off the ending index is equivalent to the index of the last character. For example, we can slice the first 4 charactes with the syntax: __`my_str[:5]`__

In [30]:
my_str[:5]

'niaga'

Or we can slice the characters from index 5 to the end of the string with the syntax: __`my_str[5:]`__

In [31]:
my_str[5:]

'ra'

We could get every other character for the entire string with the syntax: __`my_str[::2]`__

In [32]:
my_str[::2]

'naaa'

Or we could use -1 as the step in the extended syntax to get the string in reversed order: __`my_str[::-1]`__

In [33]:
my_str[::-1]

'aragain'

# Variables
Variables are used for storing and manipulating information. Their value can vary, which means that the value can change. You can store anything using a variable. They are given names that are used to access their values. 

## Variable naming rules:
* The first character of the name must be a letter of the alphabet or an underscore
* The rest of the name can be letters (upper or lower case), underscores, or digits 0-9
* Variable names are case sensitive. For example, MYVARIABLE and myvariable are different
* Variable names cannot be a reserved word in Python. For example, __break__, __def__, or __for__ are not allowed. 

Create a variable by typing the name you'd like to use, then the = sign and the value you'd like to store. The syntax is: 

__`my_profession = 'Data Scientist'
my_number = 123456789`__

In [34]:
my_professor = 'Zafer Acar'
my_number = '007'

You can access the value of a variable by the variable's name. In Python we can use the __`print()`__ function to print a something to the screen. For example: 

__`print(my_profession)
print('My number is: ', my_number)`__

In [35]:
print(my_professor)
print(my_number)

Zafer Acar
007

# Operators and Expressions
Operators are functionality that do something and can be represented by symbols such as __+__ or by special keywords. Operators require some data to operate on and this data is called an __operand__. 

## Here is a quick overview of mathematic operators: 
* __+__ (plus): Adds two items
* __-__ (minus): Subtracts one number from the other. If the first operand is absent it is assumed to be zero. 
* __\*__ (multiplication): Gives the multiplication of the two numbers or returns a string repeated that many times. 
* __\*\*__ (power): Returns the first number to the power of the second number
* __/__ (divide): Divide the first number by the second number. NOTE!! In Python version 2 integer division is used a decimal result will only be returned if at least one of the number is a float. For example: 2/5 would return 2. In Python version 3, 2.5 would be returned. 
* __//__ (divide and floor): Divide the first number by the second number and round the answer to the nearest whole number. 
* __%__ (modulo): Returns the remainder of the division

These operators can be used in conjunction with numbers to form expressions. For example: 

__`5 / 2`__

In [36]:
5 / float(2) # using python3

2.5

__REMEMBER!!__ in Python 2, division between two integers will return an integer. One of the numbers must be a float to return a decimal value. If the above expression printed __2__ then you're using __Python 2__ if the above expression printed __2.5__ then you're using __Python 3__!

We can also save numbers in variables to be used in expressions. This can make our code more readable. For example: 

__`days_in_year = 365
days_in_week = 7
weeks_in_year = days_in_year / float(days_in_week)
print(weeks_in_year)`__

In [37]:
days_in_year = 365
days_in_week = 7
weeks_in_year = days_in_year / float(days_in_week)
print(weeks_in_year)

52.142857142857146

### Exercise 4 :

Let's practice expressions with some examples: 

This expression will assign 10 to my_sum. Change the 0 to make my_sum 20. 

__`my_sum = 10 + 0
print(my_sum)`__

In [38]:
my_sum = 10 + 10
print(my_sum)

20

This expression will assign 0 to my_multi. Change the 0 to make my_multi 60. 

__`my_multi = 6 * 0
print(my_multi)`__

In [39]:
my_multi = 6 * 10
print(my_multi)

60

Let's find how many inches are in a meter. Some constants are given for you: 

__`in_per_mm = 0.0393701
mm_per_meter = 1000`__

Print the number of inches in a meter.

In [41]:
in_per_mm = 0.0393701
mm_per_meter = 1000
in_per_m = in_per_mm * mm_per_meter
print(in_per_m)

39.3701

Let's convert a temperature from fahrenheit to celcius. Subtract 32 from the temperature, multiply by 5, then divide by 9. Hint: Don't forget, division is different in Python 2!

In [42]:
temp_f = 50
temp_c = (temp_f-32)*5/9
print(temp_c)

10.0

We have 25 cookies and 7 friends at our party. If we wanted to give each friend 3 cookies how many cookies would we have left? Use the modulo (%) operator for this question!

In [43]:
num_cookies = 25
num_friends = 7
cookie_left = num_cookies%num_friends
print(cookie_left)

4

Calculate what percentage of the year we have off from work. Assume a year is exactly 52 weeks long and that we have 2 days off per week.

In [93]:
offdays=2*52
workdays=52*7
freedays=offdays/workdays
print(freedays,"%")

0.2857142857142857 %

Let's take the above question one step further. Assume that our job also gives us 12 holidays off per year. What is the new percentage? HINT: You can use () to change the order of operations!

In [96]:
freedays=(offdays+12)/workdays
print(freedays,"%")

0.31868131868131866 %

You're playing on a basketball team. You've had four games this season. Calculate your average points per game.

In [97]:
pts1 = 17
pts2 = 24
pts3 = 11
pts4 = 20

avg=(pts1+pts2+pts3+pts4)/4
print(avg)

18.0

## Here is a quick overview of comparison operators: 
Comparison operators return either True or False depending on how the operands relate to each other. Here is a list of the comparison operators and how they work: 
* __>__ (greater than): Returns whether x is greater than y
* __<__ (less than): Returns whether x is less than y
* __>=__ (greater than or equal to): Returns whether x is greater than or equal to y
* __<=__ (less than or equal to): Returns whether x is less than or equal to y
* __==__ (equal to): Compares if the items are equal
* __!=__ (not equal to): Compares if the items are not equal

These operators can be used in conjunction with numbers to form expressions. For example: 

__`4 == 5`__ 

This will return False, because 4 and 5 are not equal

In [98]:
4 == 5

False

__`4 != 5`__

This will return True, because 4 and 5 are not equal

In [99]:
4 != 5

True

__`3 < 5`__

This will return True, because 3 is less than 5

In [100]:
3<5

True

Practice a few examples here:

In [ ]:
6 >= 5

In [101]:
7 < 5 < 3

False

In [102]:
3 < 5 < 9

True

In [103]:
4 < 2

False

## Here are a few more operators: 
These operators can be used in conjunction with other operators to make more complex comparisons. These become very important when we start using if an else statements: 
* __not__ (boolean not): If x is True, returns False. If x is False, returns True. 
* __&__ (boolean and) also seen as __and__: Returns True if __both__ expressions are true. Returns False if one or both of the expressions are False.
* __|__ (boolean or) also seen as __or__: Returns True is __at least one__ expression is True. Returns False if both of the expressions are False. 

The __not__ operator will return the opposite boolean. For example: 

__`x = True
not x`__

In [104]:
x = True
not x

False

We can use the __&__ operator to chain comparisons together. For example: 

__`a = 1
b = 2
c = 3
(a < b) & (a < c)`__

In [106]:
a = 1
b = 2
c = 3
(a < b) & (a < c)

True

We can also use the __or__ operator to chain comparisons together. For example: 

__`(a < b) or (a > c)`__

In [108]:
(a<b) | (a>c) # or veya | ayni isi görüyor

True

Practice some more examples here:

In [109]:
(a>b) & (c>b)

False

In [110]:
(a!=b) | (c!=a)

True

In [111]:
(a<b) and (b<c)

True